*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    border-bottom: 1px solid rgb(30 41 59 / 7%);
}
.header{
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 30px;

}
.header .logo{}
.header .menu{}
.header .menu ul{}

.header .menu ul li {
    display: inline-block;
    margin-left: 15px;
}
.header .menu ul li a{
    color: #1e293b;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}